/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 1em;
    line-height: 1.4;
    /*background-color: #5e0411;*/
    background: url('../Images/bg-home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 150px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: cover;
    margin-bottom: 10px;
    min-width: 1024px;
}

#pageCV body { background-image: url('../Images/bg-cv.jpg'); }
#pageMusic body { background-image: url('../Images/bg-music.jpg'); }
#pageMusik body { background-image: url('../Images/bg-music.jpg'); }
#pageFilm body { background-image: url('../Images/bg-film.jpg'); }
#pageGallery body { background-image: url('../Images/bg-gallery.jpg'); }
#pageGalerie body { background-image: url('../Images/bg-gallery.jpg'); }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#siteHeader {
    width: 100%;
    height: 150px;
    background-color: black;
    /*-webkit-box-shadow:  0px 3px 3px 3px rgba(0, 0, 0, 1);
    box-shadow:  0px 3px 3px 3px rgba(0, 0, 0, 1);*/
    position: fixed;
    left: 0;
    top: 0;
}

#innerHeader {
    margin: 0 auto;
    padding: 11px 0;
    background-color: black;
    width: 1000px;
    height: 128px;
    position: relative;
}

#logo {
    height: 128px;
    background: url('../Images/leaoxley_invert.png') no-repeat;
}

#profession {
    position: absolute;
    right: 0px; top: 5px;
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
}

#langNav {
    position: absolute;
    right: 0; top: 123px;
}

#langNav ul {
    list-style-type: none;
    margin: 0;
}

#langNav ul li {
    float: left;
}

#langNav ul li.first {
    margin: 0 10px 0 0;
}

#langNav li a {
    font-family: 'Raleway';
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
	text-transform: uppercase;
}

#langNav li a:hover {
    color: #aa0d22;
}

#topNav {
    position: absolute;
    right: 0; top: 62px;
}

#topNav ul {
    list-style-type: none;
    margin: 0;
}

#topNav ul li {
    float: left;
    margin: 0 20px 0 20px;
}
#topNav ul li.first {
    margin: 0 20px 0 0;
}
#topNav ul li.last {
    margin: 0 0 0 20px;
}

#topNav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    font-size: 30px;
}

#topNav ul li a:hover, #topNav ul li.current a {
    color: #aa0d22;
}



#container {
    width: 1000px;
    margin: 0 auto;
    padding: 180px 0 0 0;
}

#content {
    width: 560px;
    background-color: rgba(255, 255, 255, 0.6);
    /*-webkit-box-shadow:  0px 0px 3px 3px rgba(255, 255, 255, 0.6);
    box-shadow:  0px 0px 3px 3px rgba(255, 255, 255, 0.6);*/
    color: #000;
    padding: 20px;
    font-family: Raleway;
}


#siteFooter {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
}

#footer {
    margin: 0 auto;
    width: 1000px;
}

#footer a:link {
	color: black;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#innerFooter {
    float: right;
    width: auto;
    font-size: 16px;
    font-family: Raleway;
    background-color: rgba(255, 255, 255, 0.6);
    /*-webkit-box-shadow:  0px 0px 3px 3px rgba(255, 255, 255, 0.6);
    box-shadow:  0px 0px 3px 3px rgba(255, 255, 255, 0.6);*/
    padding: 5px;
}

#content table {
	display: block;
	font-size: 85%;
}

#content td {
	vertical-align: top;
	padding-right: 10px;
}

#content tr:nth-child(even) {
	background: rgba(150,150,150,0.5);
}

#content thead td { border-bottom: 1px solid black; }

#content a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

#content a:hover {
	text-decoration: underline;
}

div.flickr a {
	margin-right: 22px;
}

div.flickr a:nth-child(6n+6) {
	margin-right: 0px;
}

div.flickr img{
	margin-bottom: 22px;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}